<app-navbar></app-navbar>

<div class="crud-container">

    <h2>Category Management</h2>

    <div class="form-section">

        <label>Category Name</label>

        <input
        type="text"
        [(ngModel)]="categoryName"
        placeholder="Enter Category Name">

        <button (click)="addCategory()">
            Save Category
        </button>

    </div>

    <table>

        <thead>

        <tr>

            <th>ID</th>

            <th>Category Name</th>

            <th>Delete</th>

        </tr>

        </thead>

        <tbody>

        <tr *ngFor="let c of categories">

            <td>{{c.id}}</td>

            <td>{{c.categoryName}}</td>

            <td>

                <button class="delete-btn"
                (click)="deleteCategory(c.id)">
                    Delete
                </button>

            </td>

        </tr>

        </tbody>

    </table>

</div>