<app-navbar></app-navbar>

<div class="crud-container">

    <h2>Customer Management</h2>

    <p class="subtitle">
        Manage customer information.
    </p>

    <div class="form-section">

        <label>Customer Name</label>
        <input type="text" [(ngModel)]="customer.name" placeholder="Enter Customer Name">

        <label>Email</label>
        <input type="email" [(ngModel)]="customer.email" placeholder="Enter Email">

        <label>Phone</label>
        <input type="text" [(ngModel)]="customer.phone" placeholder="Enter Phone Number">

        <label>Address</label>
        <input type="text" [(ngModel)]="customer.address" placeholder="Enter Address">

        <button (click)="saveCustomer()">
            Save Customer
        </button>

    </div>

    <table>

        <thead>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Delete</th>
        </tr>

        </thead>

        <tbody>

        <tr *ngFor="let c of customers">

            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>{{c.phone}}</td>
            <td>{{c.address}}</td>

            <td>
                <button class="delete-btn"
                (click)="deleteCustomer(c.id)">
                    Delete
                </button>
            </td>

        </tr>

        </tbody>

    </table>

</div>